*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    height: 90vh;
}
.subtitle{
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    display: inline;
}